<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Data</h1>
    <form action="" method="post">
        <input type="text" name = "string" placeholder="String">
        <input type="integer" name = "integer" placeholder="Integer">
        <input type="float" name = "float" placeholder="Float">
        <input type="date" name = "date" placeholder="end date">
        <input type="boolean" name = "boolean" placeholder="Choose the boolean">
        <button type="submit">Save</button>
    </form>
    <a href="/">Kembali</a>
</body>
</html>